body {
    background-color: #DDDDDD;
    font-family:"futura";
}

h1 {color: white;
font-family:futura;
}


ul{color:white;
font-family:futura;
}

p{color: white;
font-family:futura;
}


#left-column{background-color:#001f3f;
float: left;
padding:5%;
width:40%;
position: relative;

}

#right-column{background-color:#FF4136;
float: right;
width:40%;
padding:5%;
position: relative;
}
#footer{background-color:#3D9970;
position:absolute;
bottom: 0;
text-align: center;
width: 100%;
 }

 .face{
 	 background-color:#B10DC9;
 border-radius: 100px;
 position:absolute;
 width: 120px;
 height: 120px;
 }

.face:hover{
	background-color: green;
}