h1 {
font-family:"futura";
background-color: gray;
border: solid black;



}

p2{
font-family:"futura";

}



h3{
font-family:"futura";
position: absolute;
}

h2{
float: right;
text-align: center;
font-family:"futura";

}